@import "_nullstyle";
@import "_footer";

header {
    width: 100%;
    height: 120 / 1920 * 100vw;
    background-color: #ffffff;
    .container {
        margin: 0 auto;
        display: flex;
        padding-top: 37 / 1920 * 100vw;
        width: 1180 / 1920 * 100vw;
        img {
            margin-right: 105 / 1920 * 100vw;
            width: 195 / 1920 * 100vw;
            height: 40 / 1920 * 100vw;
        }
        a {
            margin: 9 / 1920 * 100vw 28 / 1920 * 100vw 0px 0px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: normal;
            font-size: 24 / 1920 * 100vw;
            color: #242d39;
        }
        .header-button {
            display: block;
            width: 164 / 1920 * 100vw;
            padding: 10 / 1920 * 100vw 17 / 1920 * 100vw;
            margin: 2 / 1920 * 100vw 0px 0px -6 / 1920 * 100vw;
            border-radius: 14 / 1920 * 100vw;
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 20 / 1920 * 100vw;
            color: #ffffff;
            background-color: #ff7a00;
        }
    }
    .header-mobile {
        display: none;
    }
}
.popup__menu {
    display: none;
}
.about {
    width: 100%;
    height: 463 / 1920 * 100vw;
    background: url("../img/about-bg.png") no-repeat center top / cover;
    .container {
        margin: 0 auto;
        width: 1180 / 1920 * 100vw;
        padding-top: 64 / 1920 * 100vw;
        h1 {
            text-align: center;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: bold;
            font-size: 52 / 1920 * 100vw;
            color: #ff7a00;
            span {
                color: #242d39;
            }
        }
        p {
            margin: 0 auto;
            text-align: center;
            margin-top: 38 / 1920 * 100vw;
            width: 664 / 1920 * 100vw;
            font-family: "Inter";
            font-style: normal;
            font-weight: normal;
            font-size: 18 / 1920 * 100vw;
            line-height: 142.52%;
            color: #242d39;
            span {
                color: #ff7a00;
            }
        }
    }
}

.more {
    .container {
        margin: 0 auto;
        padding-top: 53 / 1920 * 100vw;
        width: 1180 / 1920 * 100vw;
        h1 {
            margin-bottom: 40 / 1920 * 100vw;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: bold;
            font-size: 40 / 1920 * 100vw;
            color: #242d39;
        }
        div {
            display: flex;
            h2 {
                margin-right: 42 / 1920 * 100vw;
                font-family: "Inter";
                font-style: normal;
                font-weight: 300;
                font-size: 18 / 1920 * 100vw;
                color: #242d39;
            }
            p {
                font-family: "Inter";
                font-style: normal;
                font-weight: 200;
                font-size: 18 / 1920 * 100vw;
                color: #242d39;
            }
            a {
                margin-right: 10 / 1920 * 100vw;
                font-family: "Inter";
                font-style: normal;
                font-weight: 200;
                font-size: 18 / 1920 * 100vw;
                color: #242d39;
            }
        }
        .more__line {
            margin: 32 / 1920 * 100vw 0px 9 / 1920 * 100vw 0px;
            width: 760 / 1920 * 100vw;
            height: 1 / 1920 * 100vw;
            background-color: #dbdbdb;
        }
    }
}
.map {
    text-align: center;
    margin-top: 43 / 1920 * 100vw;
    img {
        width: 1180 / 1920 * 100vw;
        height: 360 / 1920 * 100vw;
    }
    .map-mobile {
        display: none;
    }
}
.forma {
    width: 100%;
    height: 565 / 1920 * 100vw;
    background-color: #f1f1f1;
    margin-top: 42 / 1920 * 100vw;
    .container {
        margin: 0 auto;
        padding-top: 89 / 1920 * 100vw;
        width: 1180 / 1920 * 100vw;
        display: flex;
        h1 {
            margin-right: 166 / 1920 * 100vw;
            width: 442 / 1920 * 100vw;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: bold;
            font-size: 46 / 1920 * 100vw;
            color: #242d39;
        }
        form {
            width: 526 / 1920 * 100vw;
            height: 387 / 1920 * 100vw;
            input {
                padding-bottom: 10 / 1920 * 100vw;
                width: 100%;
                font-family: "Inter";
                font-style: normal;
                font-weight: normal;
                font-size: 16 / 1920 * 100vw;
                color: #6d6d6d;
                background: none;
                &.error ~ .sdasd {
                    background-color: rgb(194, 0, 0);
                }
            }
            p {
                margin-bottom: 25 / 1920 * 100vw;
                font-family: "Inter";
                font-style: normal;
                font-weight: normal;
                font-size: 16 / 1920 * 100vw;
                color: #6d6d6d;
            }
            textarea {
                padding-bottom: 10 / 1920 * 100vw;
                width: 100%;
                height: 21 / 1920 * 100vw;
                font-family: "Inter";
                font-style: normal;
                font-weight: normal;
                font-size: 16 / 1920 * 100vw;
                line-height: 21 / 1920 * 100vw;
                color: #6d6d6d;
                background: none;
            }
            .form-line {
                margin: 0 0 40 / 1920 * 100vw 0;
                width: 100%;
                height: 1 / 1920 * 100vw;
                background-color: #aaaaaa;
                transition: 0.3s;
            }
            div {
                display: flex;
                span {
                    button {
                        width: 234 / 1920 * 100vw;
                        height: 59 / 1920 * 100vw;
                        border-radius: 30 / 1920 * 100vw;
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16 / 1920 * 100vw;
                        text-transform: uppercase;
                        color: #ffffff;
                        background-color: #ff7a00;
                    }
                }
                div {
                    a {
                        margin-left: 40 / 1920 * 100vw;
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12 / 1920 * 100vw;
                        color: #737373;
                        span {
                            text-decoration-line: underline;
                        }
                    }
                }
            }
        }
    }
}
.block-fixed {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
}

@media (max-width: 575px) {
    header {
        width: 100%;
        height: 84 / 375 * 100vw;
        background-color: #ffffff;
        .container {
            display: none;
        }
        .header-mobile {
            display: flex;
            margin: 0 auto;
            padding-top: 17 / 375 * 100vw;
            width: 340 / 375 * 100vw;
            div {
                margin-right: 115 / 375 * 100vw;
                .header-logo-mobile {
                    margin-top: 2 / 375 * 100vw;
                    width: 106 / 375 * 100vw;
                    height: 22 / 375 * 100vw;
                }
                .social-net {
                    margin: 3 / 375 * 100vw 0px 0px 8 / 375 * 100vw;
                    a {
                        img {
                            width: 20 / 375 * 100vw;
                            height: 20 / 375 * 100vw;
                            margin-right: 1px;
                        }
                        .margin-none {
                            margin: 0;
                        }
                    }
                }
            }
            .email-mobile {
                img {
                    margin-right: 6 / 375 * 100vw;
                    width: 26 / 375 * 100vw;
                    height: 26 / 375 * 100vw;
                }
            }
            .phone-mobile {
                img {
                    margin-right: 20 / 375 * 100vw;
                    width: 26 / 375 * 100vw;
                    height: 26 / 375 * 100vw;
                }
            }
            .menu-burger {
                img {
                    margin-right: 3 / 375 * 100vw;
                    width: 40 / 375 * 100vw;
                    height: 20 / 375 * 100vw;
                }
            }
        }
    }
    .popup__menu {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        &:target {
            opacity: 1;
            visibility: visible;
        }
        z-index: 1000;
        .container {
            .popup__area {
                position: fixed;
                width: 100%;
                height: 100%;
            }
            .popup__body {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 496 / 375 * 100vw;
                background-color: #b78455;
                box-shadow: 0px 4 / 375 * 100vw 4 / 375 * 100vw rgba(0, 0, 0, 0.25);
                .menu__cross {
                    margin: 0;
                    img {
                        margin: 18 / 375 * 100vw 0px 0px 314 / 375 * 100vw;
                        width: 31.11 / 375 * 100vw;
                        height: 29.7 / 375 * 100vw;
                    }
                }
                a {
                    margin: 28 / 375 * 100vw 0px 0px 40 / 375 * 100vw;
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16 / 375 * 100vw;
                    color: #ffffff;
                }
                .phone1 {
                    margin: 30 / 375 * 100vw 0px 9 / 375 * 100vw 40 / 375 * 100vw;
                }
                .phone2 {
                    margin: 0px 0px 20 / 375 * 100vw 40 / 375 * 100vw;
                }
                .socialnet {
                    a {
                        margin-right: -35 / 375 * 100vw;
                        img {
                            width: 30 / 375 * 100vw;
                            height: 30 / 375 * 100vw;
                        }
                    }
                }
            }
        }
    }
    .about {
        width: 100%;
        height: 463 / 375 * 100vw;
        background: url("../img/about-bg-mobile.png") no-repeat center top / cover;
        .container {
            margin: 0 auto;
            width: 340 / 375 * 100vw;
            padding-top: 91 / 375 * 100vw;
            h1 {
                text-align: center;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: bold;
                font-size: 25 / 375 * 100vw;
                color: #ff7a00;
                span {
                    color: #242d39;
                }
            }
            p {
                margin: 0 auto;
                text-align: center;
                margin-top: 40 / 375 * 100vw;
                width: 324 / 375 * 100vw;
                font-family: "Inter";
                font-style: normal;
                font-weight: normal;
                font-size: 12 / 375 * 100vw;
                line-height: 142.52%;
                color: #242d39;
                span {
                    color: #ff7a00;
                }
            }
        }
    }

    .more {
        .container {
            margin: 0 auto;
            padding-top: 25 / 375 * 100vw;
            width: 340 / 375 * 100vw;
            h1 {
                margin-bottom: 25 / 375 * 100vw;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: bold;
                font-size: 22 / 375 * 100vw;
                color: #242d39;
            }
            div {
                display: flex;
                h2 {
                    margin-right: 30 / 375 * 100vw;
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12 / 375 * 100vw;
                    color: #242d39;
                }
                p {
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 200;
                    font-size: 12 / 375 * 100vw;
                    color: #242d39;
                }
                a {
                    margin-right: 5 / 375 * 100vw;
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 200;
                    font-size: 12 / 375 * 100vw;
                    color: #242d39;
                }
            }
            .more__line {
                margin: 32 / 375 * 100vw 0px 9 / 375 * 100vw 0px;
                width: 760 / 375 * 100vw;
                height: 1 / 375 * 100vw;
                background-color: #dbdbdb;
            }
        }
    }
    .map {
        text-align: center;
        margin-top: 20 / 375 * 100vw;
        .map-desctop {
            display: none;
        }
        .map-mobile {
            display: block;
            width: 375 / 375 * 100vw;
            height: 170 / 375 * 100vw;
        }
    }
    .forma {
        width: 100%;
        height: 641 / 375 * 100vw;
        background-color: #f1f1f1;
        margin-top: 20 / 375 * 100vw;
        .container {
            margin: 0 auto;
            padding-top: 49 / 375 * 100vw;
            width: 340 / 375 * 100vw;
            display: block;
            h1 {
                width: 330 / 375 * 100vw;
                margin: 0px;
                font-size: 26 / 375 * 100vw;
            }
            form {
                margin-top: 40 / 375 * 100vw;
                width: 340 / 375 * 100vw;
                input {
                    padding-bottom: 10 / 375 * 100vw;
                    width: 100%;
                    font-size: 16 / 375 * 100vw;
                }
                p {
                    margin-bottom: 25 / 375 * 100vw;
                    font-size: 16 / 375 * 100vw;
                }
                textarea {
                    padding-bottom: 10 / 375 * 100vw;
                    width: 100%;
                    height: 21 / 375 * 100vw;
                    font-size: 16 / 375 * 100vw;
                    line-height: 21 / 375 * 100vw;
                }
                .form-line {
                    margin: 0 0 40 / 375 * 100vw 0;
                    width: 100%;
                    height: 1 / 375 * 100vw;
                }
                .footer-button {
                    display: block;
                    width: 100%;
                    span {
                        button {
                            margin: 0 auto;
                            margin-top: -15 / 375 * 100vw;
                            width: 340 / 375 * 100vw;
                            height: 59 / 375 * 100vw;
                            border-radius: 30 / 375 * 100vw;
                            font-size: 16 / 375 * 100vw;
                        }
                    }
                    div {
                        margin: 0 auto;
                        width: 287 / 375 * 100vw;
                        margin-top: 25 / 375 * 100vw;
                        a {
                            margin: 0px;
                            text-align: center;
                            font-size: 12 / 375 * 100vw;
                        }
                    }
                }
            }
        }
    }
}
